<!doctype html>
<html>
<head></head>
<body>
	<h1>Create your santa group!</h1>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<form action={{ url_for('create_group')}} method=post>
	<tr>
		<td>Group name: <input type=text name=Name maxlength=20><br></td>
		<td>Group description: <input type=text name=Description maxlength = 50><br></td>
		<td>Registration deadline (year/month/day): <input type=text name=regYear maxlength=4 size=2></td>
		<td><input type=text name=regMonth maxlength=2 size=1></td>
		<td><input type=text name=regDay maxlength=2 size=1> 00:00 <br></td>

		<td>Gift exchange date (year/month/day): <input type=text name=giftYear maxlength=4 size=2></td>
		<td><input type=text name=giftMonth maxlength=2 size=1></td>
		<td><input type=text name=giftDay maxlength=2 size=1> 00:00<br></td>
		<td><input type=Submit action={{ url_for('create_group')}} method=post value="Submit"></td>
	</tr>
	</form>
</body>
</html>
