<!doctype html>
<html>
<head></head>
<body>
	<form action={{ url_for('login')}} method=post>
	<tr>
		<td>Name: <input type=text name=name><br></td>
		<td>Date: <input type="datetime-local" name="jajaj", value="1996-12-19T16:39:57"><br></td>
	</tr>
	</form>
</body>
</html>
