<!doctype html>
<html>
<head></head>
<body>
	<h1>Register to {{ group_name }}</h1>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	{% if Description %}<h3>{{ Description }}</h3><br>{% endif %}
	<form action={{ url_for('register_user',group_code=group_code)}} method=post>
	<tr>
		<td>E-mail: <input type=text name=Mail maxlength=30><br></td>
		<td>First name: <input type=text name=Fst_name maxlength = 15><br></td>
		<td>Second name (or nickname that will help people in this group easyly identify you): <input type=text name=Snd_name maxlength = 15><br></td>
	<td><input type=Submit action={{ url_for('register_user',group_code=group_code)}} method=post value="Submit"></td>
{% if Presents %}
	<h2>Choose yourself a present</h2>
{% for i in Presents %}
			<td><input type=checkbox name="{{ i[0] }}_present"> {{i[1]}} {{i[2]}}</td><br>
{% endfor %}
{% endif %}
	</tr>
	</form>

<!--
	</tr>
	</form>
{% if Presents %}
	<h2>Choose yourself a present</h2>
	<form>
		<tr>
{% for i in Presents %}
			<td><input type=checkbox name="{{ i[0] }}st_present"> {{i[1]}}: {{i[2]}}</td><br>
{% endfor %}
		</tr>
	</form>
{% endif %}
--!>
</body>
</html>
