<!doctype html>
<html>
<head></head>
<body>
	<h1>Your registration has been finished</h1>
	<h3>Here's your user link - don't share it. Come here after {{ reg_deadline }} </h3>
	<a href="/user/{{ user_code }}">/user/{{ user_code }}</a>
<!--
{% if Presents %}
	<h2>Choose yourself a present</h2>
{% for i in Presents %}
			<td><input type=checkbox name="{{ i[0] }}_present"> {{i[1]}}: {{i[2]}}</td><br>
{% endfor %}
{% endif %}
--!>
</body>
</html>
