<!doctype html>
<html>
<head></head>
<body>
	{{ gID }}
	<h1>Your santa group has been created</h1>
	<h3>Here's your registration link - share it with your friends (and don't forget to register yourserlf)</h3>
	<a href="/group/{{ group_code }}">/group/{{ group_code }}</a>
</body>
</html>
