<!doctype html>
<html>
<head></head>
<body>
	{% if Deadline %}
	<h1>Some of your friends are not registred in this group :(</h1>
	<h3>Come here after {{Deadline}}</h3>
	{% endif %}
	{% if Gifted %}
	<h1>We've shuffled your group!</h1>
	<h3>You're make a present to {% for i in Gifted%} {{i}} {% endfor %}</h3>
	{% if Presents %}
	<h4>This user has choosen this presents:</h4>
	{% for i in Presents %}
		<p>{{i[1]}} {{i[2]}}</p>
	{% endfor %}
	{% endif %}
	{% endif %}
</body>
</html>
